# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis

language: node_js
node_js:
  - "node"
  - "7"
#   - "6" # async requires node 7+

addons:
  code_climate:
    repo_token: 34f8e378fa9c2c7058787512aae6a41c0300d1137670810adb4fb10af6fe64b8

notifications:
  email:
    on_success: change
    on_failure: change

services:
  - postgresql

before_script:
  - psql -c "CREATE USER testu WITH LOGIN CREATEDB PASSWORD 'my secret password';" -U postgres
  - export PGPASSWORD="my secret password"
  - psql -c 'create database atestdb;' -U testu -d postgres
  - mkdir /second
  - initdb -D /second
  - pg_ctl -D /second -o "-p 5434" -l /var/log/logdb2 start
  - echo "{\"postgresql\":{\"host\":\"127.0.0.1\",\"port\":5432,\"username\":\"testu\",\"db\":\"atestdb\"}}" > test.config.json && chmod 0600 test.config.json


after_success:
  - npm install codeclimate-test-reporter
  - ./node_modules/.bin/tap --coverage-report=text-lcov | ./node_modules/.bin/codeclimate-test-reporter
